.section {
	min-height: 80vh;
	position: relative;
	text-align: center;
	font-family: sans-serif, arial;
	margin: 100;
    padding:100;
    background-color: #f8f8f8;
    
}
.section:nth-of-type(2n) {
    background-color: rgb(172, 164, 165);
  }
#section1 {
	/* background: #5c53aa; */
    
	
}
#section2 {
	/* background: #4bbfc3; */
	
}
#section1 .title-top{
padding-top: 8%;
}
body, html {
	margin: 0;
	padding: 0;
    
}
h1, p {
	margin: 0;
	font-family: sans-serif, arial;
	font-weight: bold;
    
}
.title-top {
	
	padding-top: 7%;
}

.nav a:hover {
	background: rgba(255, 255, 255, 0.7);
}

.navbar {
	position: fixed; /*left: 50%;*/
	width: 96%;
	top:2%;
    left:2%;
}

#PlacementTable{

    border-style: solid;
    font-size: 1em;
    width: 80%;
    
    margin-top: 8%;
    margin-left: 5%;
}
.table{
    font-size: small;
    
}
.title-table{
    font-weight: bold;
}