{% extends "index.html" %}

{% block content %}

<h3>
  Leader Board
</h3>


<table class="table table-striped table-hover table-sm">
         <thead class="thead-dark">
            <tr>
               <th>Player</th>
               <th>Matches</th>
               <th>Win</th>
               <th>Loss</th>
               <th>Rating</th>

            </tr>
         </thead>

         <tbody>
            {% for entry in data %}
               <tr>
                  <td>{{ entry[0] }}</td>
                  <td>{{ entry[1] }}</td>
                  <td>{{ entry[2] }}</td>
                  <td>{{ entry[3] }}</td>
                  <td class="bg-info">{{ entry[4] }}</td>

               </tr>
            {% endfor %}
         </tbody>
</table>

{% endblock %}
