<!DOCTYPE html>
<html lang="en">
<head>
  <title>TPL</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/static/css/newtemplate.css?v=1.1">
</head>
<body style="height:1500px">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">TPL</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="#section1">Home</a></li>
      <li><a href="#section2">LeaderBoard</a></li>
      <li><a href="#section3">PointTable</a></li>
      <li><a href="#section4">Doubles</a></li>
    </ul>
  </div>
</nav>
  
<div id="section1" class="section">
        <div class="text-wr">
            <h1 class="title">
                <div class="title-top">Placement</div>
                
            </h1>
        </div>
    </div>
<div id="section2" class="section">
        <div class="text-wr">
            <h1 class="title">
                <div class="title-top">Leaderboard</div>
                
            </h1>
        </div>
    </div>
    
<div id="section3" class="section">
        <div class="text-wr">
            <h1 class="title">
                <div class="title-top">PointTable</div>
                
            </h1>
        </div>
    </div>

<div id="section4" class="section">
        <div class="text-wr">
            <h1 class="title">
                <div class="title-top">Doubles</div>
                
            </h1>
        </div>
    </div>