{% extends "index.html" %}

{% block content %}
<style>
a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #04AA6D;
  color: white;
}

.round {
  border-radius: 50%;
}
</style>

<a href="#" class="back">&laquo; Previous</a>
<h3 class = 'text-center'>
  {{playername}}
</h3>
<div class="container" style="width: 600px;">
<table class="table table-striped table-hover table-sm">

          <thead class="table-info ">
            <tr>
               <th>Player1</th>
               <th>Player2</th>
               <th>Score</th>
            </tr>
         </thead>

         <tbody>
              {% for item in data %}
               <tr>
                 <td>{{item[0]}}</td>
                  <td>{{item[1]}}</td>
                  <td>{{item[2]}}</td>
               </tr>
            {% endfor %}

         </tbody>
</table>
</div>

{% endblock %}
