{% extends "index.html" %}
{% block content %}
<head>
	<style>
    /*
 *  Flex Layout Specifics
*/
main{
  display:flex;
  flex-direction:row;
}
.round{
  display:flex;
  flex-direction:column;
  justify-content:center;
  width:300px;
  list-style:none;
  padding:0;
}
  .round .spacer{ flex-grow:1; }
  .round .spacer:first-child,
  .round .spacer:last-child{ flex-grow:.5; }

  .round .game-spacer{
    flex-grow:1;
  }

/*
 *  General Styles
*/
body{
  font-family:sans-serif;
  font-size:small;
  padding:10px;
  line-height:1.4em;
}

li.game{
  padding-left:20px;
}

  li.game.winner{
    font-weight:bold;
  }
  li.game span{
    float:right;
    margin-right:5px;
  }

  li.game-top{ border-bottom:1px solid #aaa; }

  li.game-spacer{
    border-right:1px solid #aaa;
    min-height:40px;
  }

  li.game-bottom{
    border-top:1px solid #aaa;
  }
  textarea{
    border:none;
    outline: none;
    box-shadow: none;
    resize:none;
    background-color:rgb(255, 255, 255);
  }
  </style>




<form action="{{ url_for("playoffs") }}" method="post" >
<textarea name="t1" rows='1' cols='65' style="font-size:22px; font-weight: bold;" >{{title}}</textarea>

<main id="tournament">
<ul class="round round-1">
<li class="spacer">&nbsp;</li>

<li class="game game-top "><textarea  rows='1' cols='15' type="text" id="p1" name="p1">{{data[0]}}</textarea> <span>1</span></li>
<li class="game game-spacer">&nbsp;</li>
<li class="game game-bottom "><textarea  rows='1' cols='15' type="text" id="p16" name="p16">{{data[15]}}</textarea> <span>16</span></li>

<li class="spacer">&nbsp;</li>

<li class="game game-top "><textarea  rows='1' cols='15' type="text" id="p1" name="p9">{{data[8]}}</textarea> <span>9</span></li>
<li class="game game-spacer">&nbsp;</li>
<li class="game game-bottom "><textarea  rows='1' cols='15' type="text" id="p1" name="p8">{{data[7]}}</textarea> <span>8</span></li>

<li class="spacer">&nbsp;</li>

<li class="game game-top "><textarea  rows='1' cols='15' type="text" id="p1" name="p4">{{data[3]}}</textarea> <span>4</span></li>
<li class="game game-spacer">&nbsp;</li>
<li class="game game-bottom "><textarea  rows='1' cols='15' type="text" id="p1" name="p13">{{data[12]}}</textarea> <span>13</span></li>

<li class="spacer">&nbsp;</li>

<li class="game game-top "><textarea  rows='1' cols='15' type="text" id="p1" name="p12">{{data[11]}}</textarea> <span>12</span></li>
<li class="game game-spacer">&nbsp;</li>
<li class="game game-bottom "><textarea  rows='1' cols='15' type="text" id="p1" name="p5">{{data[4]}}</textarea> <span>5</span></li>

<li class="spacer">&nbsp;</li>

<li class="game game-top "><textarea  rows='1' cols='15' type="text" id="p1" name="p2">{{data[1]}}</textarea> <span>2</span></li>
<li class="game game-spacer">&nbsp;</li>
<li class="game game-bottom "><textarea  rows='1' cols='15' type="text" id="p1" name="p15">{{data[14]}}</textarea> <span>15</span></li>

<li class="spacer">&nbsp;</li>

<li class="game game-top "><textarea  rows='1' cols='15' type="text" id="p1" name="p10">{{data[9]}}</textarea> <span>10</span></li>
<li class="game game-spacer">&nbsp;</li>
<li class="game game-bottom "><textarea  rows='1' cols='15' type="text" id="p1" name="p7">{{data[6]}}</textarea> <span>7</span></li>

<li class="spacer">&nbsp;</li>

<li class="game game-top "><textarea  rows='1' cols='15' type="text" id="p1" name="p3">{{data[2]}}</textarea> <span>3</span></li>
<li class="game game-spacer">&nbsp;</li>
<li class="game game-bottom "><textarea  rows='1' cols='15' type="text" id="p1" name="p14">{{data[13]}}</textarea> <span>14</span></li>

<li class="spacer">&nbsp;</li>

<li class="game game-top "><textarea  rows='1' cols='15' type="text" id="p1" name="p11">{{data[10]}}</textarea> <span>11</span></li>
<li class="game game-spacer">&nbsp;</li>
<li class="game game-bottom "><textarea  rows='1' cols='15' type="text" id="p1" name="p6">{{data[5]}}</textarea> <span>6</span></li>

<li class="spacer">&nbsp;</li>
</ul>
<ul class="round round-2">
<li class="spacer">&nbsp;</li>

<li class="game game-top "><textarea  rows='1' cols='15' type="text" id="p1" name="p17">{{data[16]}}</textarea><span><textarea  rows='1' cols='15' type="text"  name="s1">{{score_data[0]}}</textarea></span></li>
<li class="game game-spacer">&nbsp;</li>
<li class="game game-bottom "><textarea  rows='1' cols='15' type="text" id="p1" name="p18">{{data[17]}}</textarea><span><textarea  rows='1' cols='15' type="text"  name="s2">{{score_data[1]}}</textarea></span></li>

<li class="spacer">&nbsp;</li>

<li class="game game-top "><textarea  rows='1' cols='15' type="text" id="p1" name="p19">{{data[18]}}</textarea><span><textarea  rows='1' cols='15' type="text"  name="s3">{{score_data[2]}}</textarea></span></li>
<li class="game game-spacer">&nbsp;</li>
<li class="game game-bottom "><textarea  rows='1' cols='15' type="text" id="p1" name="p20">{{data[19]}}</textarea><span><textarea  rows='1' cols='15' type="text"  name="s4">{{score_data[3]}}</textarea></span></li>

<li class="spacer">&nbsp;</li>

<li class="game game-top "><textarea  rows='1' cols='15' type="text" id="p1" name="p21">{{data[20]}}</textarea><span><textarea  rows='1' cols='15' type="text"  name="s5">{{score_data[4]}}</textarea></span></li>
<li class="game game-spacer">&nbsp;</li>
<li class="game game-bottom "><textarea  rows='1' cols='15' type="text" id="p1" name="p22">{{data[21]}}</textarea><span><textarea  rows='1' cols='15' type="text"  name="s6">{{score_data[5]}}</textarea></span></li>

<li class="spacer">&nbsp;</li>

<li class="game game-top "><textarea  rows='1' cols='15' type="text" id="p1" name="p23">{{data[22]}}</textarea><span><textarea  rows='1' cols='15' type="text"  name="s7">{{score_data[6]}}</textarea></span></li>
<li class="game game-spacer">&nbsp;</li>
<li class="game game-bottom "><textarea  rows='1' cols='15' type="text" id="p1" name="p24">{{data[23]}}</textarea><span><textarea  rows='1' cols='15' type="text"  name="s8">{{score_data[7]}}</textarea></span></li>

<li class="spacer">&nbsp;</li>
</ul>
<ul class="round round-3">
<li class="spacer">&nbsp;</li>

<li class="game game-top "><textarea  rows='1' cols='15' type="text" id="p1" name="p25">{{data[24]}}</textarea><span><textarea  rows='1' cols='15' type="text"  name="s9">{{score_data[8]}}</textarea></span></li>
<li class="game game-spacer">&nbsp;</li>
<li class="game game-bottom "><textarea  rows='1' cols='15' type="text" id="p1" name="p26">{{data[25]}}</textarea><span><textarea  rows='1' cols='15' type="text"  name="s10">{{score_data[9]}}</textarea></span></li>

<li class="spacer">&nbsp;</li>

<li class="game game-top "><textarea  rows='1' cols='15' type="text" id="p1" name="p27">{{data[26]}}</textarea><span><textarea  rows='1' cols='15' type="text"  name="s11">{{score_data[10]}}</textarea></span></li>
<li class="game game-spacer">&nbsp;</li>
<li class="game game-bottom "><textarea  rows='1' cols='15' type="text" id="p1" name="p28">{{data[27]}}</textarea><span><textarea  rows='1' cols='15' type="text"  name="s12">{{score_data[11]}}</textarea></span></li>

<li class="spacer">&nbsp;</li>
</ul>
<ul class="round round-4">
<li class="spacer">&nbsp;</li>

<li class="game game-top "><textarea  rows='1' cols='15' type="text" id="p1" name="p29">{{data[28]}}</textarea><span><textarea  rows='1' cols='15' type="text"  name="s13">{{score_data[12]}}</textarea></span></li>
<li class="game game-spacer">&nbsp;</li>
<li class="game game-bottom "><textarea  rows='1' cols='15' type="text" id="p1" name="p30">{{data[29]}}</textarea><span><textarea  rows='1' cols='15' type="text"  name="s14">{{score_data[13]}}</textarea></span></li>

<li class="spacer">&nbsp;</li>
</ul>
<ul class="round round-5">
<li class="spacer">&nbsp;</li>

<li class="game game-spacer">&nbsp;</li>

<li class="game game-spacer"><b><textarea  rows='1' cols='15' type="text" id="p1" name="p31">{{data[30]}}</textarea><span><textarea  rows='1' cols='15' type="text"  name="s15">{{score_data[14]}}</textarea></span></b></li>


<li class="spacer">&nbsp;</li>
</ul>
</main>

<a href="javascript:validateUser()">Edit</a>
<button type="submit" id="update" class="btn btn-success">Update Playoffs</button>
</form>



<script>
  window.onload = disableText();
  function disableText(){
    const ele = document.getElementsByTagName("textarea");
    document.getElementById("update").disabled=true;
    
   
    for (let i = 0; i <= ele.length - 1; i++){
        ele[i].disabled=true;
    }
  }


  function validateUser(){
    var name=prompt("Please enter the password");

    if (name=="123")
    {
      
      const ele = document.getElementsByTagName("textarea");
      document.getElementById("update").disabled=false;
      //ele[1].innerHTML;
      for (let i = 0; i <= ele.length - 1; i++){
        ele[i].disabled=false;
      }
    }
}
</script>          
{% endblock %}