{% extends "index.html" %}

{% block content %}

<h3 class = 'text-center'>
  Point Table
</h3>

{% for entry in range(data) %}
<div class="container" style="width: 600px;">
<h4 class="sub-header text-center" style="background-color:black; color:white;">Group {{entry+1}}</h4>
<table class="table table-striped table-hover table-sm">
         <thead class="table-info ">
            <tr>

               <th>Player</th>
               <th>Matches</th>
               <th>Won</th>
               <th>Loss</th>
               <th>Bonus</th>
               <th>Points</th>

            </tr>
         </thead>

         <tbody>
                {% for item in pt_data %}
                   {% if (entry+1)==item[6] %}
               <tr>
                 <td><a id="playername" data-toggle="modal" href="#myModal">{{item[0]}}</a></td>
                  <td>{{item[1]}}</td>
                  <td>{{item[2]}}</td>
                  <td>{{item[3]}}</td>
                  <td>{{item[4]}}</td>
                  <td>{{item[5]}}</td>

               </tr>
                   {% endif %}

                {% endfor %}
         </tbody>
</table>
</div>


<script>
function myFunction() {
  var name= document.getElementById("playername")
  {{ p }} = name
}
</script>


  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">

          <h4 class="modal-title">{{p}}</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <table class="table table-striped table-hover table-sm">

          <thead class="table-info ">
            <tr>
               <th>Player1</th>
               <th>Player2</th>
               <th>Score</th>
            </tr>
         </thead>

         <tbody>

               <tr>
                 <td></td>
                  <td></td>
                  <td></td>
               </tr>

         </tbody>
</table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
{% endfor %}
{% endblock %}
