{% extends "index.html" %}

{% block content %}

<h3>
  Point Table
</h3>
{% for entry in range(data) %}
<h4 class="sub-header">Group {{entry+1}}</h4>
<table class="table table-striped table-hover table-sm">
         <thead class="thead-dark">
            <tr>
               <th>#</th>
               <th>Player</th>
               <th>Matches</th>
               <th>Won</th>
               <th>Loss</th>
               <th>Bonus</th>
               <th>Points</th>

            </tr>
         </thead>

         <tbody>

               <tr>
                  <td>{{pt_data[entry+1][0]}}</td>
                  <td>{{pt_data[entry+1][1]}}</td>
                  <td>{{pt_data[entry+1][2]}}</td>
                  <td>{{pt_data[entry+1][3]}}</td>
                  <td>{{pt_data[entry+1][4]}}</td>
                  <td>{{pt_data[entry+1][5]}}</td>

               </tr>

         </tbody>
</table>
{% endfor %}
{% endblock %}
