{% extends "newindex.html" %}

{% block content %}

<!-- Main container -->
<div class="container-lg border border-primary">
   <!-- Title Container -->
   <div class="container border bg-light">
      <div class="row gx-5">

         <div class="col border border-success">
            <form method="post">
               <ul class="list-group list-group-horizontal">
                  <li class="list-group-item">
                  <select class="form-select form-select-md mb-3"  aria-label=".form-select-lg example" name="league_format_selection">
                     <option selected>Singles</option>
                     <option value="Doubles">Doubles</option>
                     <option value="Mixed Doubles">Mixed Doubles</option>
                     
             </select></li>
             <li class="list-group-item"><button type="submit" class="btn btn-success">Submit</button></li>
            </ul>
            </form>
         </div>
         <div class="col border border-primary">
            <div class="btn-group" role="group" aria-label="Basic outlined example">
              <button type="button" class="btn btn-outline-primary">Left</button>
              <button type="button" class="btn btn-outline-primary">Middle</button>
              <button type="button" class="btn btn-outline-primary">Right</button>
            </div>
           </div>
      </div>
     
   </div>


   <!-- Content Container -->
   <div class="row gx-5">
     <div class="col-8">
      <div class="p-3 border bg-light">LeaderBoard - {{message}}</div>
     </div>
     <div class="col">
      <div class="p-3 border bg-light">Groups</div>
     </div>
</div>
</div>
{% endblock %}