{% extends "Test_index.html" %}

{% block content %}



 


<!-- Top Toggle -->
<div class="container-fluid">
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark justify-content-center" style="text-align: center;">
   <a class="navbar-brand" href="#">Tennis Premier League</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
   <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      
         <ul class="navbar-nav justify-content-center">
           <li class="nav-item">
             <a class="nav-link" href="#LB">LeaderBoard</a>
           </li>
           <li class="nav-item">
            <a class="nav-link" href="#Pointable">Pointable</a>
           </li>
           <li class="nav-item">
            <a class="nav-link" href="#Schedule">Schedule</a>
           </li>
                     
         </ul>
          
         <form class="form-inline">
            <a class="btn btn-sm btn-outline-success" type="button" href="{{ url_for('test',game='Singles')}}">Singles</a>
            <a class="btn btn-sm btn-outline-success" type="button" href="{{ url_for('test',game='Doubles')}}">Doubles</a>
          </form>
   </div>

 </nav>
</div>
<!-- End top -->


<!-- LEADERBOARD -->
<div id ='LB' class="container mx-auto mb-3" style="width: 600px; text-align: center;">

   <div><h4 class = 'text-center' style="padding-top: 20%;">  {{message}} -   LeaderBoard    </h4></div>
   
   <div style="text-align: center;margin-top:5%;margin-bottom:0%; background-color: rgb(206, 208, 214);"><h4>Division</h4>
   <ul class="nav nav-pills nav-fill justify-content-center" id="pills-tab" role="tablist" style="text-align: center;margin:0%;">
      
      {%for k in div_dict.keys()%}
      <li class="nav-item">
         {% if loop.index0< 1 %}
         <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#{{k}}" role="tab" aria-controls="#{{k}}" aria-selected="true">{{k}}</a>
          {% else %}
          <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#{{k}}" role="tab" aria-controls="#{{k}}" aria-selected="true">{{k}}</a>
         {% endif %}
         
      </li>
      {% endfor %}
   </ul></div>
   <div class="tab-content" id="pills-tabContent">
      {%for i in div_dict.keys()%}
      {% if loop.index0< 1 %}
      <div class="tab-pane fade show active" id="{{i}}" role="tabpanel" aria-labelledby="{{i}}">
         <table class="table table-striped table-hover table-sm">
            <thead class="thead-dark">
               <tr>
                  <th>Rank</th>
                  <th>Player</th>
                  <th>Matches</th>
                  <th>Points</th>
                  <th>% Games</th>
                  <!-- <th>% Games<a data-toggle="modal" href="#myModal" style="color:white;">?</a></th> -->
   
               </tr>
            </thead>
   
            <tbody>
               {% for index,row in div_dict[i].iterrows() %}
                 
                  <tr>
                     <td>{{loop.index0}}</td>
                     <td>{{ row['Player'] }}</td>
                     <td>{{ row['Matches'] }}</td>
                    {% if loop.index0 < 16 %}
                     <td class = "bg-success"><b>{{ row['Points'] }}</b></td>
                    {% else %}
                     <td><b>{{ row['Points'] }}</b></td>
                    {% endif %}
                    <td>{{ row['%games'] }}</td>
   
                  </tr>
                 
               {% endfor %}
            </tbody>
   </table>
      </div>
      {% else %}
      <div class="tab-pane fade show" id="{{i}}" role="tabpanel" aria-labelledby="{{i}}">
         <table class="table table-striped table-hover table-sm">
            <thead class="thead-dark">
               <tr>
                  <th>Rank</th>
                  <th>Player</th>
                  <th>Matches</th>
                  <th>Points</th>
                  <th>% Games</th>
                  <!-- <th>% Games<a data-toggle="modal" href="#myModal" style="color:white;">?</a></th> -->
   
               </tr>
            </thead>
   
            <tbody>
               {% for index,row in div_dict[i].iterrows() %}
                 
                  <tr>
                     <td>{{loop.index0}}</td>
                     <td>{{ row['Player'] }}</td>
                     <td>{{ row['Matches'] }}</td>
                    {% if loop.index0 < 16 %}
                     <td class = "bg-success"><b>{{ row['Points'] }}</b></td>
                    {% else %}
                     <td><b>{{ row['Points'] }}</b></td>
                    {% endif %}
                    <td>{{ row['%games'] }}</td>
   
                  </tr>
                 
               {% endfor %}
            </tbody>
   </table>
      </div>
      {% endif %}
      {% endfor %}
      
      
   </div>
</div>


<!-- <div id="Spacer" style="height: 400px; background-color: black; visibility: hidden;"></div> -->

<!-- PointTable -->

<div class="container mx-auto mb-3" id ='Pointable' style="width: 600px; text-align: center;margin-top: 10%;">

   <h3 class = 'text-center' style="padding-top: 20%;"> {{message}} -  PointTable    </h3>
 
   <div style="text-align: center;margin-top:5%;margin-bottom:0%; background-color: rgb(206, 208, 214);"><h4>Division</h4>
   <ul class="nav nav-pills nav-fill justify-content-center" id="pills-tab" role="tablist" style="text-align: center;margin:0%;">
      
      {%for k in div_dict.keys()%}
      <li class="nav-item">
         {% if loop.index0< 1 %}
         <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#g{{k}}" role="tab" aria-controls="#{{k}}" aria-selected="true">{{k}}</a>
          {% else %}
          <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#g{{k}}" role="tab" aria-controls="#{{k}}" aria-selected="true">{{k}}</a>
         {% endif %}
         
      </li>
      {% endfor %}
   </ul></div>
   <div class="tab-content" id="pills-tabContent">
      {%for i in div_dict.keys()%}
      {% if loop.index0< 1 %}
      <div class="tab-pane fade show active" id="g{{i}}" role="tabpanel" aria-labelledby="{{i}}">
         <table class="table table-striped table-hover table-sm">
            <thead class="thead-dark">
               <tr>
                  <th>Rank</th>
                  <th>Player</th>
                  <th>Matches</th>
                  <th>Points</th>
                  <th>% Games</th>
                  <!-- <th>% Games<a data-toggle="modal" href="#myModal" style="color:white;">?</a></th> -->
   
               </tr>
            </thead>
   
            <tbody>
               {% for index,row in div_dict[i].iterrows() %}
                 
                  <tr>
                     <td>{{loop.index0}}</td>
                     <td>{{ row['Player'] }}</td>
                     <td>{{ row['Matches'] }}</td>
                    {% if loop.index0 < 16 %}
                     <td class = "bg-success"><b>{{ row['Points'] }}</b></td>
                    {% else %}
                     <td><b>{{ row['Points'] }}</b></td>
                    {% endif %}
                    <td>{{ row['%games'] }}</td>
   
                  </tr>
                 
               {% endfor %}
            </tbody>
   </table>
      </div>
      {% else %}
      <div class="tab-pane fade show" id="g{{i}}" role="tabpanel" aria-labelledby="{{i}}">
         two
      </div>
      {% endif %}
      {% endfor %}
      
      
   </div>
</div>

<!-- Schedule -->
<div class="container mx-auto mb-3" id ='Schedule' style="width: 600px; text-align: center;margin-top: 10%;">


</div>

{% endblock %}