{% extends "index.html" %}

{% block content %}


<div class="container">
    <div class="row">
      <div class="col-sm" >
        <table class="table table-striped table-hover table-sm">
            <thead class="thead-dark">
               <tr>
                  <th>Rank</th>
                  <th>Player</th>
                  <th>Matches</th>
                  <th>Points</th>
                  <th>% Games</th>
                  <!-- <th>% Games<a data-toggle="modal" href="#myModal" style="color:white;">?</a></th> -->
   
               </tr>
            </thead>
   
            <tbody>
               {% for entry in data_50 %}
                 
                  <tr>
                     <td>{{loop.index0 +1}}</td>
                     <td>{{ entry[0] }}</td>
                     <td>{{ entry[3] }}</td>
                    {% if loop.index0 < 16 %}
                     <td class = "bg-success"><b>{{ entry[1] }}</b></td>
                    {% else %}
                     <td><b>{{ entry[1] }}</b></td>
                    {% endif %}
                    <td>{{ entry[2] }}</td>
   
                  </tr>
                 
               {% endfor %}
            </tbody>
   </table>
      </div>
      <div class="col-sm offset-sm-2">
        One of three columns
      </div>
      <div class="col-sm offset-sm-2">
        One of three columns
      </div>
    </div>
  </div>






  {% endblock %}