{% extends "index.html" %}

{% block content %}
<h4 class = 'text-center'> TPL Doubles </h4>
<h5 class = 'text-center'>
  Point Table - Division 4.5
  <h6 class = 'text-center' style = "color:black;font-size: 12px;">
    <b>Win-40, Loss-10, Bonus-10(loss but win a set), Forefeit-0</b>
  </h6>
</h5>
{% if message %}
<p class='text-center' style="color:red;"><strong>{{ message }}</strong></p>
{% endif %}
<h4 class = 'text-center' > Group 1 </h4>
<div class="container" style="width: 1000px; font-size: 12px;">
<table class="table table-striped table-hover table-sm text-center">
         <thead class="table-info ">
            <tr>

               <th>Team</th>
               <th>Matches</th>
               <th>Won</th>
               <th>Loss</th>
               <th>Bonus</th>
               <th>Points</th>
               <th>Games won</th>
               <th>Games total</th>
               <th>%games </th>

            </tr>
         </thead>

         <tbody>
                {% for item in pt_data %}
                {% if item[9] == 1 %}
               <tr>
                 <td><b>{{item[0]}}</b></td>
                  <td>{{item[1]}}</td>
                  <td>{{item[2]}}</td>
                  <td>{{item[3]}}</td>
                  <td>{{item[4]}}</td>
                  <td><b>{{item[5]}}</b></td>
                  <td>{{item[6]}}</td>
                  <td>{{item[7]}}</td>
                 <td><b>{{item[8]}}</b></td>


               </tr>

                {% endif %}
                {% endfor %}
         </tbody>
</table>
</div>
<h4 class = 'text-center' > Group 2 </h4>
<div class="container" style="width: 1000px; font-size: 12px;">
  <table class="table table-striped table-hover table-sm text-center">
           <thead class="table-info ">
              <tr>
  
                 <th>Team</th>
                 <th>Matches</th>
                 <th>Won</th>
                 <th>Loss</th>
                 <th>Bonus</th>
                 <th>Points</th>
                 <th>Games won</th>
                 <th>Games total</th>
                 <th>%games </th>
  
              </tr>
           </thead>
  
           <tbody>
                  {% for item in pt_data %}
                  {% if item[9] == 2 %}
                 <tr>
                   <td><b>{{item[0]}}</b></td>
                    <td>{{item[1]}}</td>
                    <td>{{item[2]}}</td>
                    <td>{{item[3]}}</td>
                    <td>{{item[4]}}</td>
                    <td><b>{{item[5]}}</b></td>
                    <td>{{item[6]}}</td>
                    <td>{{item[7]}}</td>
                   <td><b>{{item[8]}}</b></td>
  
  
                 </tr>
                  {% endif %}
  
                  {% endfor %}
           </tbody>
  </table>
  </div>
<!-- ************ schedule ********* -->

<h5 class = 'text-center'>
  Schedule
</h5>
<div class="container mx-auto mb-3 text-center" style="width: 1000px; font-size: 14px;">
<form action="{{ url_for("TplDoubles45")}}" method="post">
<select name="comp_select" class="selectpicker bg-light" data-live-search="true" aria-label="Default select example">
  <option selected>Select Team</option>
  {% for p in players %}
  <option value="{{p}}">{{p}}</option>
  {% endfor %}
</select>
<button type="submit">Submit</button>
  </form>
  <br>
<h5 class = 'text-center' >
   Start Date: April 01  -  End Date: May 14
  <h6 class = 'text-center' style = "color:green;font-size: 14px;">
    *Play in any order but all league games must be completed by May 14*
  </h6>
  </h5>
</div>
{% if error %}
<p class='text-center' style="color:red;"><strong>Error: {{ error }}</strong></p>
{% endif %}
<div class="container mx-auto mb-3" style="width: 1000px; font-size: 12px;">
<table class="table table-striped table-hover table-sm table-bordered" id="mytable">
         <thead class="thead-dark text-center">
            <tr>
               <th>Team1<br> Set1 &nbsp Set2 &nbsp Set3</th>
               <th>Team2<br> Set1 &nbsp Set2 &nbsp Set3</th>
               <th>Score</th>
               <th>Deadline</th>


            </tr>
         </thead>

         <tbody class = "text-center">
            {% for entry in sch_data %}
           <div>
              <form id="myForm" action="{{ url_for("doublesubmitscore45",team1=entry[0],team2=entry[1])}}" method="post" >

               <tr>
                  <td><b>{{ entry[0] }}</b>&nbsp &nbsp &nbsp


                        {% if entry[2] == 'x' %}
                          <select name="p1set1" class="selectpicker" data-live-search="true" aria-label="Default select example">
                          <option selected>0</option>
                          {% for i in range(1,8) %}
                          <option value={{i}}>{{i}}</option>
                          {% endfor %}
                          </select>

                          <select name="p1set2" class="selectpicker" data-live-search="true" aria-label="Default select example">
                          <option selected>0</option>
                          {% for i in range(1,8) %}
                          <option value={{i}}>{{i}}</option>
                          {% endfor %}
                          </select>

                          <select name="p1set3" class="selectpicker" data-live-search="true" aria-label="Default select example">
                          <option selected>0</option>
                          {% for i in range(1,11) %}
                          <option value={{i}}>{{i}}</option>
                          {% endfor %}
                          </select>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                          <input name="p1forefeit" class="form-check-input" type="checkbox" value="1" >
                          <label class="form-check-label" for="flexCheckDefault">
                            Forefeit
                          </label>
                        {% endif %}
                  </td>
                  <td><b>{{ entry[1] }}</b>&nbsp &nbsp &nbsp
                        {% if entry[2] == 'x' %}
                          <select name="p2set1" class="selectpicker" data-live-search="true" aria-label="Default select example">
                          <option selected>0</option>
                          {% for i in range(1,8) %}
                          <option value={{i}}>{{i}}</option>
                          {% endfor %}
                          </select>

                          <select name="p2set2" class="selectpicker" data-live-search="true" aria-label="Default select example">
                          <option selected>0</option>
                          {% for i in range(1,8) %}
                          <option value={{i}}>{{i}}</option>
                          {% endfor %}
                          </select>

                          <select name="p2set3" class="selectpicker" data-live-search="true" aria-label="Default select example">
                          <option selected>0</option>
                          {% for i in range(1,11) %}
                          <option value={{i}}>{{i}}</option>
                          {% endfor %}
                          </select>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                          <input name="p2forefeit" class="form-check-input" type="checkbox" value="1" >
                          <label class="form-check-label" for="flexCheckDefault">
                            Forefeit
                          </label>
                        {% endif %}
                   </td>

                  {% if entry[2] == 'x' %}
                  <td>
                        <button onclick="myFunction()" id="myBtn" type="submit" class="btn btn-success btn-sm">Submit</button>
                  </td>
                  {% else %}
                  <td><b>{{ entry[2] }}</b></td>
                  {% endif %}
                  <td><b>{{ entry[3] }}</b></td>
               </tr>
                      </form>
                    </div>
            {% endfor %}
         </tbody>
</table>
</div>

{% endblock %}
